body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 24px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.home {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-splash {
  font-size: 60px;
}

.options {
  display: flex;
  flex-direction: row;
}

.option-card {
  width: 200px;
  height: 200px;
  border: 2px solid grey;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.option-icon {
  font-size: 72px;
  margin-bottom: 50px;
}

.option-card p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

button {
  font-size: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-grow: space-between;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid grey;
}

.header-center {
  flex: 1;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.header-left {
  flex: 1;
}

.header-right {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.tool-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  width: 100px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  user-select: none;
  margin-right: 20px;
}

.first-tool {
  margin-left: auto;
};

.last-tool {
  width: 30px;
}

.tool-icon {
  font-size: 36px;
  margin-bottom: 5px;
}

.tool-button p {
  font-size: 16px;
  margin: 0;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}

.timer {
  margin-bottom: 0.33em;
  margin-top: 0.66em;
}

.toggle-timer {
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 2px solid grey;
}

.toggle-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-view {
  padding-top: 40px;
  justify-content: center;
  display: flex;
  width: 90vw;
  flex-grow: 1;
  height: calc(100vh - 270px);
}

.panel {
  min-width: 50%;
  max-width: 90vh;
  padding-left: 15px;
  width: 100%;
  flex: 1;
  flex-grow: 1;
  max-height: 100% !important;
}

.question-panel {
  overflow-y: scroll;
  overflow-x: hidden;
}

.question-image {
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  object-fit: contain !important;
}

.passage-panel {
  border-right: 2px solid grey;
  overflow-y: scroll;
  flex-grow: 1;
  max-height: 100% !important;
}

.passage::selection {
  background: yellow;
}

.calculator-panel {
  margin-right: 0;
  padding-right: 0;
  display: inline;
}

.calculator {
  height: 95%;
  width: 98%;
}

.calc-hidden {
  display: none;
}

.passage {
  max-height: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

button:hover {
  cursor: pointer;
}

.question-number-container {
  width: 100%;
  min-width: 350px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.question-number {
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50px;
  text-align: center;
}

.mark-icon {
  margin-left: 15px;
  cursor: pointer;
}

.toggle-crossout {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 0 !important;
  font-weight: bold;
  height: 28px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  user-select: none;
}

.toggle-crossout p {
  margin: 0;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

.toggle-crossout-on {
  color: white;
  background-color: blue;
}

.mark-icon-solid {
  color: darkred;
}

.mark-label {
  cursor: pointer;
  margin: 0;
  margin-left: 7px;
  padding: 0;
  font-size: 20px;
}

.choices-container {
  display: flex;
  flex-direction: column;
}

.choice-container {
  min-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  flex: 1;
}

.choice-button {
  text-align: left;
  border-radius: 10px;
  width: 100%;
  padding: 6px;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: relative;
}

.choice-disabled {
  color: grey;
  cursor: default !important;
}

.choice-letter {
  border-radius: 100%;
  font-size: 20px;
  border: 2px solid grey;
  color: grey;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  user-select: none;
}

.crossout-container {
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -15px;
  font-weight: bold;
  position: relative;
}

.strikethrough {
  position: absolute;
  margin-top: 2px;
  width: 100%;
  height: 3px;
  background-color: grey;
}

.button-strikethrough {
  margin: 0;
  left: 0;
  position: absolute;
  background-color: black;
  height: 3px;
  width: 100%;
}

.choice-crossout {
  margin: 0;
  margin-left: 8px;
  cursor: pointer;
}

.undo-crossout {
  max-width: 42px;
  margin: 0;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.frq-input {
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  width: 100px;
}

.selected {
  border: 2px solid blue;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
}

.selected .choice-letter {
  border: 2px solid blue;
  color: white;
  background-color: blue;
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  border-top: 2px solid grey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button-container {
  margin-left: auto;
  margin-right: 50px;
}

.progress-container {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius:10px;
  font-size: 20px;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.student-name {
  font-weight: bold;
  margin-left: 50px;
}

.toggle-caret {
  margin-left: 10px;
}

.nav-button {
  background-color: blue;
  color: white;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav-disabled {
  background-color: grey !important;
  cursor: default !important;
}

.break-timer {
  font-size: 28px;
  font-weight: 600;
}

.review-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.review-header {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.review-header .section-title {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.question-boxes {
  display: flex;
  max-width: 680px;
  flex-wrap: wrap;
  justify-content: center;
}

.question-box {
  border: 2px dashed black;
  color: blue;
  width: 42px;
  height: 35px;
  padding-top: 7px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.answered {
  border: 2px solid blue;
  background-color: blue;
  color: white;
}


.review-popup {
  z-index: 999;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border: 2px solid grey;
  width: 70vw;
  bottom: 99px;
  padding: 30px;
  max-width: 800px;
}

.reference {
  z-index: 888;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border: 2px solid grey;
  width: 70vw;
  top: 130px;
  padding: 30px;
  max-width: 800px;
}

.ref-image-container {
  max-height: calc(100vh - 347px);
  overflow-y: scroll;
  padding-bottom: 15px;
}

.review-popup .section-title {
  margin: 0;
  margin-bottom: 15px;
}

.reference .section-title {
  margin: 0;
  margin-bottom: 15px;
}

.close-popup {
  position: absolute;
  right: 30px;
  top: 25px;
  cursor: pointer;
}

.current-pin {
  color: black;
  position: absolute;
  left: 12px;
  top: -20px;
}

.qbox-mark {
  color: darkred;
  position:absolute;
  top: -15px;
  right: -10px;
}

.icon-info {
  display: flex;
  flex-grow: space-between;
  flex-direction: row;
  flex: 1;
  width: 100;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.info-set {
  margin: 20px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.dash-icon {
  width: 16px;
  height: 16px;
  outline: 2px dashed black;
  margin-right: 8px;
  margin-top: 2px;
}

.info-icon {
  margin-right: 8px;
  margin-top: 2px;
}

.mark-info {
  color: darkred;
}

.review-jump-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.review-jump {
  background-color: white;
  color: blue;
  border: 2px solid blue;
  border-radius: 50px;
  font-size: 18px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.annotation-editor {
  position: absolute;
  background-color: lightgrey;
  z-index: 1000;
  width: 100%;
  top: 60%;
  height: 40vh;
}

.annotation-editor p {
  margin: 0;
}

.annotation-header {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;
}

.close-annotation-editor {
  top: 19px;
}

.new-annotation {
  font-weight: bold;
  margin-left: 30px;
}

.annotation-editor-body {
  height: calc(40vh - 60px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.annotation-editor textarea {
  margin-left: 30px;
  border: 1px solid grey;
  margin-top: 30px;
  resize: none;
  width: 70vw;
  font-size: 24px;
  font-family: sans-serif;
  padding: 10px;
  height: 100%;
  margin-bottom: 30px;
}

.annotation-footer {
  margin-bottom: 30px;
  margin-left: 30px;
}

.save-annotation {
  background-color: blue;
  color: white;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.cancel-annotation {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.annotation-highlight {
  background-color: yellow;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.annotation-popup {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  left: 0;
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-width: 350px;
  width: max-content;
  max-width: 400px;
}

.close-annotation-popup {
  margin-top: 1px;
  margin-left: auto;
  flex-shrink: 0;
}
.popup-text {
  flex-grow: 1;
  margin-right: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.report-view {
  display: flex;
  flex-direction: column;
}

.report-view p {
}

.report-header {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid grey;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
}

.back-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.back-arrow {
  user-select: none;
  cursor: pointer;
  color: white;
  background-color: blue;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: relative;
}

.back-icon {
  position: absolute;
  top: 12px;
  left: 14px;
}

.report-header-left {
  height: 100%;
  align-items: center;
}

.report-header-right {
  margin-left: auto;
  margin-right: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

.view-answers {
  background-color: blue;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  margin-right: 20px;
}

.report-header p {
  padding: 0;
  margin: 16px;
}

.report-body {
  display: flex;
  flex-direction: row;
}

.report-summary {
  padding-top: 50px;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  width: 50%;
}

.summary-title {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 50px;
  font-size: 32px;
  font-weight: bold;
}

.summary-section {
  border: 1px solid grey;
  margin: 50px;
  margin-top: 0px;
  max-width: 1200px;
}

.summary-section-header {
  background-color: grey;
  color: white;
  padding: 15px;
  padding-left: 5px;
  font-weight: bold;
}

.summary-section-body {
  padding-left: 30px;
  padding-right: 30px;
}

.total-score {
  font-weight: bold;
  font-size: 36px;
}

.answers-table {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
  margin-bottom: 150px;
}

.answers-body {
}

.answers-table td {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.answers-table th {
  background-color: grey;
  color: white;
  font-size: 18px;
  padding: 5px;
}

.table-header {
  background-color: grey;
}

.view-header {
  color: grey !important;
  user-select: none;
}

.answers-table tr {
  border: 1px solid grey;
}

th:nth-child(2) {
  width: 20%;
}

.incorrect {
  color: red;
}

.qview {
  background-color: white;
  border-radius: 50px;
  border: 1px solid grey;
  font-size: 18px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.question-popup {
  position: absolute;
  z-index: 9999;
  width: 85vw;
  max-height: 80vh;
  max-width: 1200px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid grey;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 120px;
  display: flex;
  flex-direction: column;
}

.qpopup-header {
  height: 75px;
  padding-left: 30px;
  font-weight: bold;
}

.qpopup-body {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.popup-panel {
  width: 50%;
  max-height: 100%;
  overflow-y: scroll;
  padding: 0;
}

.popup-passage {
  border-right: 2px solid grey;
  margin-right: 16px;
  overflow-y: scroll;
  flex-grow: 1;
  max-height: 100% !important;
}

.correct-choice {
  border: 2px solid green;
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
  color: green;
  font-weight: bold;
}

.correct-choice .choice-letter {
  background-color: green;
  color: white;
  border: 2px solid green;
}

.wrong-choice {
  border: 2px solid red;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
  font-weight: bold;
  color: red;
}

.wrong-choice .choice-letter {
  background-color: red;
  color: white;
  border: 2px solid red;
}

.you-selected {
  margin-bottom: 0;
}

.tr-correct {
  margin: 0;
  color: green;
}

.tr-wrong {
  color: red;
  font-weight: bold;
}

.config-builder {
  top: 50px !important;
}

.config-builder-body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 0;
  overflow-y: scroll;
}

.config-builder input {
  width: 400px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}

.config-builder button {
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 400px;
}

.file-input {
  border: none !important;
  border-radius: 0 !important;
  margin: 5px;
  min-height: 45px;
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-buttons button {
  background-color: blue;
  color: white;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}
