body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 24px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  flex-grow: space-between;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}

button {
  font-size: 24px;
}

.test-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-view {
  padding-top: 40px;
  justify-content: center;
  display: flex;
  width: 90vh;
  flex-grow: 1;
  height: calc(100vh - 270px);
}

.panel {
  min-width: 45%;
  padding: 15px;
  width: 100%;
  flex: 1;
}

.passage-panel {
  border-right: 2px solid grey;
  overflow-y: scroll;
  flex-grow: 1;
  max-height: 100% !important;
}

.passage {
  max-height: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

button:hover {
  cursor: pointer;
}

.question-number-container {
  width: 100%;
  min-width: 350px;
  background-color: lightgrey;
}

.question-number {
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50px;
  text-align: center;
}

.choices-container {
  display: flex;
  flex-direction: column;
}

.choice-button {
  text-align: left;
  border-radius: 10px;
  min-width: 350px;
  padding: 6px;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.choice-letter {
  border-radius: 100%;
  font-size: 20px;
  border: 2px solid grey;
  color: grey;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.frq-input {
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  width: 100px;
}

.selected {
  border: 2px solid blue;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
}

.header {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid grey;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  border-top: 2px solid grey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button-container {
  margin-left: auto;
  margin-right: 50px;
}

.nav-button {
  background-color: blue;
  color: white;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

