<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline' 'unsafe-eval'"
    />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css"
      rel="stylesheet"
    />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>MLS Prepmate</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
